[tower]
{% for host in groups.tower %}
{{ host }} {% if host == groups.tower[0] %}ansible_connection=local{% else %}ansible_host={{ host.ansible_all_ipv4_addresses[-1] }}{% endif %}
{% endfor %}


[database]
db-master ansible_host={{ hostvars[groups['database'][0]].ansible_all_ipv4_addresses[-1] }} pgsqlrep_role=master

[database_replica]
db-replica ansible_host={{ hostvars[groups['database_replica'][0]].ansible_all_ipv4_addresses[-1] }} pgsqlrep_role=replica

[all:vars]
ansible_user=vagrant
ansible_password=vagrant
ansible_become=yes

admin_password='vagrant'

pg_host='{{ hostvars[groups['database'][0]].ansible_all_ipv4_addresses[-1] }}'
pg_port='5432'
pgsqlrep_password='SammyDrakeSaturn'

pg_database='awx'
pg_username='awx'
pg_password='GnomeTutuPig'

rabbitmq_port=5672
rabbitmq_vhost=tower
rabbitmq_username=tower
rabbitmq_password='NellMangeKites'
rabbitmq_cookie=cookiemonster

# Needs to be true for fqdns and ip addresses
rabbitmq_use_long_name=false
